<a href="https://colab.research.google.com/github/mariafernandamr/MariaFernanda-DataVisualization2023/blob/main/01_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

Here, in this file, we are going to *code*

We are going to understand Python, how it works, and some tricks.

# 1. What is Python?

It was created in 1991 and it is a **general-purpouse programming language**

This means that Python is used for:

* Data analysis
*Automatic task
* Machine learning
* Data visualization
* Optimization
* Web development 
* User interfaces creation
* Create  another software
* Create video games 


The world runs on Python, C++ ,  Java and HTLM / CSS an R?

# 2. Why Python?

The main reasons:

* It is simple.
* Focus.
* Easy to learn.
* Open-source: it is free
* Cross-plataform
* Extensive libraries

# 3. Getting Started



```
# Esto tiene formato de c√≥digo
```

## 3.1. Python as a Calculator

In [ ]:
# Addition
2 + 2

4

In [ ]:
# Subtraction 
23 - 7

16

In [ ]:
# Multiplication 
13 * 7

91

In [ ]:
# Division
10 / 3

3.3333333333333335

In [ ]:
# Integer Division
10 // 3

3

In [ ]:
# Exponential
2**3

8

## 3.2. Composite operations and Parenthesis

Operator

In [ ]:
# Example

2 + 3*4

14

You can change the operator precedence using **parenthesis**

In [ ]:
# Example
(2 + 3)*4

20

## 3.3. Integers and Real Numbers

### Type

In [ ]:
# Example: Integer ( with no decimal positions) 
type(26)

int

In [ ]:
# Example: Real Number (with decimal positions) 
type(26.0)

float

In [ ]:
# Examples
# Find out if the next expressions ar int or floats
2+3.0
2.5*7
4.8/2

In [ ]:
type(2+3.0)

float

In [ ]:
type(2.5*7)

float

In [ ]:
type(4.8/2)

float

### Scientific notation

In [ ]:
#Example
5e1

50.0

In [ ]:
# Examples
6e-2

0.06

In [ ]:
type(5e1)

float

In [ ]:
# Practice 
# Write million in stcientific notation
# what is the result of 3e0.2

In [ ]:
1e6

1000000.0

### Transformation
You can change the type() of a number. Or you can force a type() of a number.

In [ ]:
# Example 
float (6)

6.0

In [ ]:
# Example

int(3.3333)

3

## 3.4. Basic and useful functions

Funtions let us do things more effciciently.

### **Print**

In [ ]:
# Example with numbers

print(2023)
print(2024)
print(22,2,2022)

2023
2024
22 2 2022

In [ ]:
# Example

for i in range (0,11): print(i)

0
1
2
3
4
5
6
7
8
9
10

Si quiero que el rango llegue hasta 10 hay que poner un numero de mas, si quiero poner 10 se debe poner (0,11)

If I want the range to reach 10, I must put an extra number, if I want to put 10, I must put (0.11)

In [ ]:
# Example - With text

print('Hello world')
print('First Name: Maria' , 'Second Name: Fernanda')
print('First Name: Maria' , '\tSecond Name: Fernanda')
print('First Name: Maria' , '\nSecond Name: Fernanda')

Hello world
First Name: Maria Second Name: Fernanda
First Name: Maria 	Second Name: Fernanda
First Name: Maria
Second Name: Fernanda

In [ ]:
#Example - text and numbers

print('My lucky number is:', 21)

My lucky number is: 21

### **Round**

It will the us to control the decimal positions.

In [ ]:
# Example
# Consider 8.53214794
#Let's use round

round(8.53214794,0)
print('The aproximation of',8.53214794, 'with',0,'decimals is:', round(8.53214794,0))
print('The aproximation of',8.53214794, 'with',1,'decimals is:', round(8.53214794,1))

The aproximation of 8.53214794 with 0 decimals is: 9.0
The aproximation of 8.53214794 with 1 decimals is: 8.5

In [ ]:

print('The aproximation of',8.53214794, 'with')
print(0,'decimals is:', round(8.53214794,0))
print(1,'decimals is:', round(8.53214794,1))


print('\nThe aproximation of',8.53214794, 'with decimals is')
print(0,':', round(8.53214794,0))
print(1,':', round(8.53214794,1))

print('\nThe aproximation of',8.53214794, 'with:')
print('Decimals','Result')
print(0,'\t', round(8.53214794,0))
print(1,'\t', round(8.53214794,1))

The aproximation of 8.53214794 with
0 decimals is: 9.0
1 decimals is: 8.5

The aproximation of 8.53214794 with decimals is
0 : 9.0
1 : 8.5

The aproximation of 8.53214794 with:
Decimals Result
0 	 9.0
1 	 8.5

In [ ]:
#Loop

print('\nThe aproximation of',8.53214794, 'with:')
print('Decimals','Result')
for i in range (0,8): print(i,'\t', round(8.53214794,i))

The aproximation of 8.53214794 with:
Decimals Result
0 	 9.0
1 	 8.5
2 	 8.53
3 	 8.532
4 	 8.5321
5 	 8.53215
6 	 8.532148
7 	 8.5321479

In [ ]:
print('\nMultiples of',2,'with:')
print('Multiples','Result')
for i in range (1,101): print(i,'\t', (2*i))

Multiples of 2 with:
Multiples Result
1 	 2
2 	 4
3 	 6
4 	 8
5 	 10
6 	 12
7 	 14
8 	 16
9 	 18
10 	 20
11 	 22
12 	 24
13 	 26
14 	 28
15 	 30
16 	 32
17 	 34
18 	 36
19 	 38
20 	 40
21 	 42
22 	 44
23 	 46
24 	 48
25 	 50
26 	 52
27 	 54
28 	 56
29 	 58
30 	 60
31 	 62
32 	 64
33 	 66
34 	 68
35 	 70
36 	 72
37 	 74
38 	 76
39 	 78
40 	 80
41 	 82
42 	 84
43 	 86
44 	 88
45 	 90
46 	 92
47 	 94
48 	 96
49 	 98
50 	 100
51 	 102
52 	 104
53 	 106
54 	 108
55 	 110
56 	 112
57 	 114
58 	 116
59 	 118
60 	 120
61 	 122
62 	 124
63 	 126
64 	 128
65 	 130
66 	 132
67 	 134
68 	 136
69 	 138
70 	 140
71 	 142
72 	 144
73 	 146
74 	 148
75 	 150
76 	 152
77 	 154
78 	 156
79 	 158
80 	 160
81 	 162
82 	 164
83 	 166
84 	 168
85 	 170
86 	 172
87 	 174
88 	 176
89 	 178
90 	 180
91 	 182
92 	 184
93 	 186
94 	 188
95 	 190
96 	 192
97 	 194
98 	 196
99 	 198
100 	 200