<a href="https://colab.research.google.com/github/mariafernandamr/MariaFernanda-DataVisualization2023/blob/main/04_DS_and_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. DS and Pandas**

It is the Excel of Python.

In [8]:
# Libraries

import numpy as np
import pandas as pd

# **2. Series**

A *Series* is a one dimensional object.

## 2.1. Series Creation

In [10]:
# Empty Series

s_empty = pd.Series()
print(s_empty)

Series([], dtype: float64)

<ipython-input-10-99c40c9e7307>:3: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s_empty = pd.Series()

In [11]:
# Create a Series by typing values

s_int = pd.Series([1,2,3,4,5,6,7,8,9])
print(s_int)

s_str = pd.Series(['Nicolas', 'Luisa', 'José'])
print(s_str)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64
0    Nicolas
1      Luisa
2       José
dtype: object

In [12]:
# Create a Serie with random numbers

s_rand = pd.Series(np.random.rand(10))
print(s_rand)

0    0.574219
1    0.039266
2    0.711933
3    0.290253
4    0.321143
5    0.497546
6    0.601812
7    0.879195
8    0.249108
9    0.870549
dtype: float64

## 2.2. Indexing

In [13]:
# Check the index of a Series

s_rand.index

RangeIndex(start=0, stop=10, step=1)

In [14]:
# create your own index

new_index = ['A','B','C']
s_str3 = s_str.set_axis(new_index)
print(s_str3)

A    Nicolas
B      Luisa
C       José
dtype: object

## 2.3. Select and Slice

In [15]:
# Simple Selection
s_str3['B']
s_str3[1]

'Luisa'

In [16]:
# Select different elements
s_rand[[3,8]]

3    0.290253
8    0.249108
dtype: float64

In [17]:
# Another way
s_rand[:3]

0    0.574219
1    0.039266
2    0.711933
dtype: float64

# **3. Pandas time-series**

In [18]:
#  Create a data range
pd.date_range(start = '01/01/2023', end = '28/03/2023')

/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py:3326: UserWarning: Parsing '28/03/2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  exec(code_obj, self.user_global_ns, self.user_ns)

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
               '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28',
               '2023-01-29', '2023-01-30', '2023-01-31', '2023-02-01',
               '2023-02-02', '2023-02-03', '2023-02-04', '2023-02-05',
               '2023-02-06', '2023-02-07', '2023-02-08', '2023-02-09',
               '2023-02-10', '2023-02-11', '2023-02-12', '2023-02-13',
               '2023-02-14', '2023-02-15', '2023-02-16', '2023-02-17',
               '2023-02-18', '2023-02-19', '2023-02-20', '2023-02-21',
               '2023-02-22', '2023-02-23', '2023-02-24', '2023-02-25',
               '2023-02-26', '2023-02-27', '2023-02-28', '2023-03-01',
               '2023-03-02', '2023-03-03', '2023-03-04', '2023-03-05',
               '2023-03-06', '2023-03-07', '2023-03-08', '2023-03-09',
               '2023-03-10', '2023-03-11', '2023-03-12', '2023-03-13',
               '2023-03-14', '2023-03-15', '2023-03-16', '2023-03-17',
               '2023-03-18', '2023-03-19', '2023-03-20', '2023-03-21',
               '2023-03-22', '2023-03-23', '2023-03-24', '2023-03-25',
               '2023-03-26', '2023-03-27', '2023-03-28'],
              dtype='datetime64[ns]', freq='D')

In [19]:
#Another way
pd.date_range(start = '01/01/2023', periods = 32)

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
               '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28',
               '2023-01-29', '2023-01-30', '2023-01-31', '2023-02-01'],
              dtype='datetime64[ns]', freq='D')

In [24]:
# Another way 
pd.date_range(start = '01/01/2023', periods = 32, freq = 'Q')

DatetimeIndex(['2023-03-31', '2023-06-30', '2023-09-30', '2023-12-31',
               '2024-03-31', '2024-06-30', '2024-09-30', '2024-12-31',
               '2025-03-31', '2025-06-30', '2025-09-30', '2025-12-31',
               '2026-03-31', '2026-06-30', '2026-09-30', '2026-12-31',
               '2027-03-31', '2027-06-30', '2027-09-30', '2027-12-31',
               '2028-03-31', '2028-06-30', '2028-09-30', '2028-12-31',
               '2029-03-31', '2029-06-30', '2029-09-30', '2029-12-31',
               '2030-03-31', '2030-06-30', '2030-09-30', '2030-12-31'],
              dtype='datetime64[ns]', freq='Q-DEC')

**Ejercicio de arriba =** Q = Trimestral, M = Mensual, D = Dias

## 3.2. Asign a time-serie index

In [27]:
# Create dates
mydates = pd.date_range(start = '01/03/2023', periods = 15)

# create an object
sales = pd.Series(np.random.randint(low = 200, high = 250, size = 15 ),
                  index = mydates)

print(sales)

2023-01-03    213
2023-01-04    216
2023-01-05    214
2023-01-06    222
2023-01-07    219
2023-01-08    226
2023-01-09    242
2023-01-10    248
2023-01-11    246
2023-01-12    229
2023-01-13    246
2023-01-14    201
2023-01-15    203
2023-01-16    239
2023-01-17    249
Freq: D, dtype: int64

## **4. Practical case - Simulation**

## 4.1. Create a simulation 

A simulation of the price a financial asset.

* First = Create the dates

In [43]:
## Create a daily series of the dates from 2021 until today.

# Saves 'today'
td = pd.to_datetime("today").strftime('%m/%d/%Y')

# Create the date range 
dr = pd.date_range(start = '01/01/2021', end = td)
nd = len(dr)

* Second = Simulate the price

In [45]:
# Price with returns = tr(mu.sigma^2)

## Moments 
mu = 0.001 ; sigma = 0.01

##Returns
r = np.random.normal(mu, sigma, size = nd)


## Price
s = np.empty(nd)
s [0] = 100

for 1 in range(i, nd):
  s[i] = s[i-1]^np.exp(r[i])

SyntaxError: ignored

* Third = Put together the dates and prices

In [46]:
# Create the time series 
s = sd.series(s, index = dr)

NameError: ignored

In [47]:
import matplotlib.pyplot as plt

In [48]:
pit.plot(s)
pit.show()

NameError: ignored