<a href="https://colab.research.google.com/github/mariafernandamr/MariaFernanda-DataVisualization2023/blob/main/04_DS_and_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. DS and Pandas**

It is the Excel of Python.

In [1]:
import numpy as np
import pandas as pd

# **2. Series**

A Series is a one dimensional object.

## 2.1. Series Creation

In [3]:
# Empty Series

s_empty = pd.Series()
print(s_empty)

Series([], dtype: float64)

<ipython-input-3-99c40c9e7307>:3: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s_empty = pd.Series()

In [9]:
# Create a Series by typing values

s_int = pd.Series([1,2,3,4,5,6,7,8,9])
print(s_int)

s_str = pd.Series(['Nicolas','Luisa','Maria'])
print(s_str)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64
0    Nicolas
1      Luisa
2      Maria
dtype: object

In [12]:
# Create a Series with random numbers 

s_rand = pd. Series (np.random.rand(10))
print(s_rand)

0    0.666041
1    0.693508
2    0.723093
3    0.811544
4    0.606508
5    0.388291
6    0.216921
7    0.701730
8    0.907918
9    0.597971
dtype: float64

## 2.2. Indexing

In [ ]:
# Check the Index

In [20]:
# Create your own Index

new_index = ['A','B','C']
s_str = s_int.set_axis(new_index)
print(s_int)

A    NaN
B    NaN
C    NaN
dtype: object

## 2.3. Select and Slice

In [22]:
# Simple Selection
s_str3['0']

NameError: ignored

In [23]:
# Another way
s_rand [:3]

0    0.666041
1    0.693508
2    0.723093
dtype: float64