<a href="https://colab.research.google.com/github/mariafernandamr/MariaFernanda-DataVisualization2023/blob/main/05__Dataframes_(examen_2)_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. Intro**

Database with gdp per capita and life expectancy from world bank, for America countries 2046-2020.

In [2]:
# Libraries

import numpy as np
import pandas as pd
import plotly.express as px

# **2. Import**

In [8]:
# Save the path 
p = '/content/Turismo internacional (1).xlsx'

#Read the file
d = pd.read_excel (p)

#Check
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   No.                       43 non-null     int64
 1   País                      43 non-null     object
 2   Turistas M                43 non-null     float64
 3   Ingresos MM               43 non-null     float64
 4   Ingresos por turista EUR  43 non-null     int64
 5   Porcentaje PIB            43 non-null     float64
dtypes: float64(3), int64(2), object(1)
memory usage: 2.1+ KB

In [13]:
# Check (The first entries)
d.head()

,No.,País,Turistas M,Ingresos MM,Ingresos por turista EUR,Porcentaje PIB
0,1,Francia,117.1,31.48,269,0.012
1,2,México,51.1,10.02,196,0.009
2,3,EE.UU.,45.0,73.72,1637,0.004
3,4,Italia,38.4,17.91,466,0.010
4,5,Hungría,31.6,3.70,117,0.023

In [24]:
# Check (The last entries)
d.tail()

,No.,Country,Tourist M,Income,Income per tourist EUR,Percentague PIB
38,39,Catar,0.6,12.54,21539,0.080
39,40,Luxemburgo,0.5,3.90,7428,0.052
40,41,Etiopía,0.5,2.00,3857,0.021
41,42,Bolivia,0.3,0.21,658,0.006
42,43,Moldavia,0.0,0.31,10687,0.026

# **3. Cleaning**

## Column Names

In [23]:
## Change 
d.rename(columns = {"País":"Country"}, inplace = True)

## Change Turistas
d.rename(columns = {"Turistas M":"Tourist M"}, inplace = True)

## Change Ingresos Miles de Millones
d.rename(columns = {"Ingresos MM":"Income"}, inplace = True)

## Change Ingresos
d.rename(columns = {"Ingresos por turista EUR":"Income per tourist EUR"}, inplace = True)

## Change Porcentaje
d.rename(columns = {"Porcentaje PIB":"Percentague PIB"}, inplace = True)

## Delete Columns

In [ ]:
#No tengo columnas por eliminar.
#Se usa para eliminar columnas, la columna que se quiere eliminar se pone en el nombre en las comillas.

d = d.drop(columns = [''] )
d.head()

# A few more things

In [31]:
# (Optional) Duplicate the dataframe 
dd =  d

In [ ]:
# Solo para los que tienen variable Año, deben duplicar
dd["year_str"] = dd["year"].astype(str)

#Check
d.head()