<a href="https://colab.research.google.com/github/mariafernandamr/MariaFernanda-DataVisualization2023/blob/main/05__Dataframes_(examen_2)_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. Intro**

Database with gdp per capita and life expectancy from world bank, for America countries 2046-2020.

In [114]:
# Libraries

import numpy as np
import pandas as pd
import plotly.express as px 
import plotly.graph_objects as go 
from plotly.subplots import make_subplots

# **2. Import**

In [115]:
# Save the path 
p = '/content/Turismo internacional (1) (1).xlsx'

#Read the file
d = pd.read_excel (p)

#Check
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 7 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   No.                         44 non-null     int64
 1   Año                         44 non-null     int64
 2   País                        44 non-null     object
 3   Turistas M                  44 non-null     float64
 4   Ingresos Miles de Millones  44 non-null     float64
 5   Ingresos por turista EUR    44 non-null     int64
 6   Porcentaje PIB              44 non-null     float64
dtypes: float64(3), int64(3), object(1)
memory usage: 2.5+ KB

In [116]:
# Check (The first entries)
d.head()

,No.,Año,País,Turistas M,Ingresos Miles de Millones,Ingresos por turista EUR,Porcentaje PIB
0,1,2023,Francia,117.1,31.48,269,0.012
1,2,2023,México,51.1,10.02,196,0.009
2,3,2023,EE.UU.,45.0,73.72,1637,0.004
3,4,2023,Italia,38.4,17.91,466,0.010
4,5,2023,Hungría,31.6,3.70,117,0.023

In [117]:
# Check (The last entries)
d.tail()

,No.,Año,País,Turistas M,Ingresos Miles de Millones,Ingresos por turista EUR,Porcentaje PIB
39,40,2022,Catar,0.6,12.54,21539,0.080
40,41,2022,Luxemburgo,0.5,3.90,7428,0.052
41,42,2022,Etiopía,0.5,2.00,3857,0.021
42,43,2022,Bolivia,0.3,0.21,658,0.006
43,44,2022,Moldavia,0.0,0.31,10687,0.026

# **3. Cleaning**

## Column Names

In [118]:
## Change 
d.rename(columns = {"País":"Country"}, inplace = True)

## Change Turistas
d.rename(columns = {"Turistas M":"Tourist M"}, inplace = True)

## Change Ingresos Miles de Millones
d.rename(columns = {"Ingresos MM":"Income"}, inplace = True)

## Change Año
d.rename(columns = {"Año":"Year"}, inplace = True)

## Change Ingresos
d.rename(columns = {"Ingresos por turista EUR":"Income per tourist EUR"}, inplace = True)

## Change Porcentaje
d.rename(columns = {"Porcentaje PIB":"Percentague PIB"}, inplace = True)

## Delete Columns

In [ ]:
#No tengo columnas por eliminar.
#Se usa para eliminar columnas, la columna que se quiere eliminar se pone en el nombre en las comillas.

d = d.drop(columns = [''] )
d.head()

KeyError: ignored

# A few more things

In [119]:
# (Optional) Duplicate the dataframe 
dd =  d

In [120]:
# Duplicate year variable
dd["year_str"] = dd["Year"].astype(str)

#Check
dd.head()

,No.,Year,Country,Tourist M,Ingresos Miles de Millones,Income per tourist EUR,Percentague PIB,year_str
0,1,2023,Francia,117.1,31.48,269,0.012,2023
1,2,2023,México,51.1,10.02,196,0.009,2023
2,3,2023,EE.UU.,45.0,73.72,1637,0.004,2023
3,4,2023,Italia,38.4,17.91,466,0.010,2023
4,5,2023,Hungría,31.6,3.70,117,0.023,2023

# **4. Indexing**

In [121]:
# Create an Index (esto no es funcional dado que los indicies ya estan en la base)
idx = pd.MultiIndex.from_product([dd['Country'].unique(),
                                 range(dd.Year.min(),dd.Year.max()+1)],
                                 names = ['Country','Year'])

# Reindex the dataframe
dd = dd.set_index(['Country','Year'])

# Check 
dd.head()

,,No.,Tourist M,Ingresos Miles de Millones,Income per tourist EUR,Percentague PIB,year_str
Country,Year,,,,,,
Francia,2023,1,117.1,31.48,269,0.012,2023
México,2023,2,51.1,10.02,196,0.009,2023
EE.UU.,2023,3,45.0,73.72,1637,0.004,2023
Italia,2023,4,38.4,17.91,466,0.010,2023
Hungría,2023,5,31.6,3.70,117,0.023,2023

# **5.Basic Statistics**

In [122]:
# By variable
dd[['Income per tourist EUR','Tourist M']].describe()

       Income per tourist EUR   Tourist M
count               44.000000   44.000000
mean              2385.613636   10.520455
std               4035.764238   20.244501
min                 70.000000    0.000000
25%                459.500000    1.400000
50%                837.500000    3.900000
75%               2247.750000    7.575000
max              21539.000000  117.100000

In [123]:
# By variable and by year
dd[['Income per tourist EUR','Tourist M']].groupby('Year').describe()

     Income per tourist EUR                                               \
                      count     mean          std    min     25%     50%
Year
2022                   24.0  3524.50  5159.220922  132.0  658.75  1179.0
2023                   20.0  1018.95  1017.456192   70.0  278.00   708.0

                      Tourist M                                             \
         75%      max     count    mean        std  min    25%   50%   75%
Year
2022  3916.0  21539.0      24.0   2.125   1.431099  0.0  0.675  2.15   3.6
2023  1382.5   4105.0      20.0  20.595  27.003381  1.4  5.675  8.35  24.1


        max
Year
2022    4.1
2023  117.1

In [124]:
# By variable and by country
dd[['Income per tourist EUR','Tourist M']].groupby('Country').describe()

                    Income per tourist EUR                                \
                                     count     mean         std      min
Country
Albania                                1.0    409.0         NaN    409.0
Alemania                               1.0   4105.0         NaN   4105.0
Australia                              1.0  12565.0         NaN  12565.0
Austria                                1.0    891.0         NaN    891.0
Belarús                                1.0    132.0         NaN    132.0
Bolivia                                1.0    658.0         NaN    658.0
Bulgaria                               1.0    315.0         NaN    315.0
Bélgica                                1.0   2523.0         NaN   2523.0
Catar                                  1.0  21539.0         NaN  21539.0
Colombia                               2.0   1302.5  103.944697   1229.0
Corea del Sur                          1.0   4093.0         NaN   4093.0
Costa Rica                             1.0   1129.0         NaN   1129.0
Croacia                                1.0    228.0         NaN    228.0
EE.UU.                                 1.0   1637.0         NaN   1637.0
El Salvador                            1.0    935.0         NaN    935.0
Emiratos Árabes                        1.0   2666.0         NaN   2666.0
Etiopía                                1.0   3857.0         NaN   3857.0
Francia                                1.0    269.0         NaN    269.0
Grecia                                 1.0    732.0         NaN    732.0
Guatemala                              1.0    440.0         NaN    440.0
Hong Kong                              1.0   8021.0         NaN   8021.0
Hungría                                1.0    117.0         NaN    117.0
Indonesia                              1.0    763.0         NaN    763.0
Italia                                 1.0    466.0         NaN    466.0
Japón                                  1.0   2424.0         NaN   2424.0
Luxemburgo                             1.0   7428.0         NaN   7428.0
Macao                                  1.0   1402.0         NaN   1402.0
Malasia                                1.0    684.0         NaN    684.0
Marruecos                              1.0   1410.0         NaN   1410.0
Moldavia                               1.0  10687.0         NaN  10687.0
México                                 1.0    196.0         NaN    196.0
Noruega                                1.0   1376.0         NaN   1376.0
Países Bajos                           1.0   1317.0         NaN   1317.0
Perú                                   1.0    784.0         NaN    784.0
Portugal                               1.0   2189.0         NaN   2189.0
Puerto Rico                            1.0    659.0         NaN    659.0
Rumania                                1.0    281.0         NaN    281.0
Rusia                                  1.0    683.0         NaN    683.0
Sudáfrica                              1.0    612.0         NaN    612.0
Turquía                                1.0    755.0         NaN    755.0
Ucrania                                1.0    178.0         NaN    178.0
Vietnam                                1.0    737.0         NaN    737.0
Vírgenes Americanas                    1.0     70.0         NaN     70.0

                                                          Tourist M         \
                          25%      50%       75%      max     count   mean
Country
Albania                409.00    409.0    409.00    409.0       1.0    2.7
Alemania              4105.00   4105.0   4105.00   4105.0       1.0   12.4
Australia            12565.00  12565.0  12565.00  12565.0       1.0    1.8
Austria                891.00    891.0    891.00    891.0       1.0   15.1
Belarús                132.00    132.0    132.00    132.0       1.0    3.6
Bolivia                658.00    658.0    658.00    658.0       1.0    0.3
Bulgaria               315.00    315.0    315.00    315.0       1.0    5.0
Bélgica               2523.00   2523.0   2523.00   2523.0       1.0    2.6
Catar                21539.00  21539.0  21539.00  21539.0       1.0    0.6
Colombia              1265.75   1302.5   1339.25   1376.0       2.0    1.4
Corea del Sur         4093.00   4093.0   4093.00   4093.0       1.0    2.5
Costa Rica            1129.00   1129.0   1129.00   1129.0       1.0    1.1
Croacia                228.00    228.0    228.00    228.0       1.0   21.6
EE.UU.                1637.00   1637.0   1637.00   1637.0       1.0   45.0
El Salvador            935.00    935.0    935.00    935.0       1.0    0.7
Emiratos Árabes       2666.00   2666.0   2666.00   2666.0       1.0    8.1
Etiopía               3857.00   3857.0   3857.00   3857.0       1.0    0.5
Francia                269.00    269.0    269.00    269.0       1.0  117.1
Grecia                 732.00    732.0    732.00    732.0       1.0    7.4
Guatemala              440.00    440.0    440.00    440.0       1.0    0.6
Hong Kong             8021.00   8021.0   8021.00   8021.0       1.0    3.6
Hungría                117.00    117.0    117.00    117.0       1.0   31.6
Indonesia              763.00    763.0    763.00    763.0       1.0    4.1
Italia                 466.00    466.0    466.00    466.0       1.0   38.4
Japón                 2424.00   2424.0   2424.00   2424.0       1.0    4.1
Luxemburgo            7428.00   7428.0   7428.00   7428.0       1.0    0.5
Macao                 1402.00   1402.0   1402.00   1402.0       1.0    5.9
Malasia                684.00    684.0    684.00    684.0       1.0    4.3
Marruecos             1410.00   1410.0   1410.00   1410.0       1.0    2.8
Moldavia             10687.00  10687.0  10687.00  10687.0       1.0    0.0
México                 196.00    196.0    196.00    196.0       1.0   51.1
Noruega               1376.00   1376.0   1376.00   1376.0       1.0    1.4
Países Bajos          1317.00   1317.0   1317.00   1317.0       1.0    7.3
Perú                   784.00    784.0    784.00    784.0       1.0    1.1
Portugal              2189.00   2189.0   2189.00   2189.0       1.0    4.2
Puerto Rico            659.00    659.0    659.00    659.0       1.0    3.9
Rumania                281.00    281.0    281.00    281.0       1.0    5.0
Rusia                  683.00    683.0    683.00    683.0       1.0    6.4
Sudáfrica              612.00    612.0    612.00    612.0       1.0    3.9
Turquía                755.00    755.0    755.00    755.0       1.0   16.0
Ucrania                178.00    178.0    178.00    178.0       1.0    3.4
Vietnam                737.00    737.0    737.00    737.0       1.0    3.8
Vírgenes Americanas     70.00     70.0     70.00     70.0       1.0    8.6


                     std    min    25%    50%    75%    max
Country
Albania              NaN    2.7    2.7    2.7    2.7    2.7
Alemania             NaN   12.4   12.4   12.4   12.4   12.4
Australia            NaN    1.8    1.8    1.8    1.8    1.8
Austria              NaN   15.1   15.1   15.1   15.1   15.1
Belarús              NaN    3.6    3.6    3.6    3.6    3.6
Bolivia              NaN    0.3    0.3    0.3    0.3    0.3
Bulgaria             NaN    5.0    5.0    5.0    5.0    5.0
Bélgica              NaN    2.6    2.6    2.6    2.6    2.6
Catar                NaN    0.6    0.6    0.6    0.6    0.6
Colombia             0.0    1.4    1.4    1.4    1.4    1.4
Corea del Sur        NaN    2.5    2.5    2.5    2.5    2.5
Costa Rica           NaN    1.1    1.1    1.1    1.1    1.1
Croacia              NaN   21.6   21.6   21.6   21.6   21.6
EE.UU.               NaN   45.0   45.0   45.0   45.0   45.0
El Salvador          NaN    0.7    0.7    0.7    0.7    0.7
Emiratos Árabes      NaN    8.1    8.1    8.1    8.1    8.1
Etiopía              NaN    0.5    0.5    0.5    0.5    0.5
Francia              NaN  117.1  117.1  117.1  117.1  117.1
Grecia               NaN    7.4    7.4    7.4    7.4    7.4
Guatemala            NaN    0.6    0.6    0.6    0.6    0.6
Hong Kong            NaN    3.6    3.6    3.6    3.6    3.6
Hungría              NaN   31.6   31.6   31.6   31.6   31.6
Indonesia            NaN    4.1    4.1    4.1    4.1    4.1
Italia               NaN   38.4   38.4   38.4   38.4   38.4
Japón                NaN    4.1    4.1    4.1    4.1    4.1
Luxemburgo           NaN    0.5    0.5    0.5    0.5    0.5
Macao                NaN    5.9    5.9    5.9    5.9    5.9
Malasia              NaN    4.3    4.3    4.3    4.3    4.3
Marruecos            NaN    2.8    2.8    2.8    2.8    2.8
Moldavia             NaN    0.0    0.0    0.0    0.0    0.0
México               NaN   51.1   51.1   51.1   51.1   51.1
Noruega              NaN    1.4    1.4    1.4    1.4    1.4
Países Bajos         NaN    7.3    7.3    7.3    7.3    7.3
Perú                 NaN    1.1    1.1    1.1    1.1    1.1
Portugal             NaN    4.2    4.2    4.2    4.2    4.2
Puerto Rico          NaN    3.9    3.9    3.9    3.9    3.9
Rumania              NaN    5.0    5.0    5.0    5.0    5.0
Rusia                NaN    6.4    6.4    6.4    6.4    6.4
Sudáfrica            NaN    3.9    3.9    3.9    3.9    3.9
Turquía              NaN   16.0   16.0   16.0   16.0   16.0
Ucrania              NaN    3.4    3.4    3.4    3.4    3.4
Vietnam              NaN    3.8    3.8    3.8    3.8    3.8
Vírgenes Americanas  NaN    8.6    8.6    8.6    8.6    8.6

# **6. Filters and Pivots**

## Simple Filters

In [125]:
# Filter by country name and save it
colombia = dd.filter(like = 'Colombia',axis=0)
print(colombia)

               No.   Tourist M  Ingresos Miles de Millones  \
Country  Year
Colombia 2023    34        1.4                        1.92
         2022    35        1.4                        1.72

               Income per tourist EUR  Percentague PIB year_str
Country  Year
Colombia 2023                    1376            0.005     2023
         2022                    1229            0.006     2022

In [153]:
# Filter by year and save it
year23 = dd.filter(like = '2023',axis=0)
print(year23)

               No.   Tourist M  Ingresos Miles de Millones  \
Country  Year
Francia  2023     1      117.1                       31.48
México   2023     2       51.1                       10.02
EE.UU.   2023     3       45.0                       73.72
Italia   2023     4       38.4                       17.91
Hungría  2023     5       31.6                        3.70
México   2023     6       51.1                       10.02
Croacia  2023     7       21.6                        4.93
Turquía  2023     8       16.0                       12.06
Austria  2023     9       15.1                       13.45
Alemania 2023    10       12.4                       51.10

               Income per tourist EUR  Percentague PIB year_str
Country  Year
Francia  2023                     269            0.012     2023
México   2023                     196            0.009     2023
EE.UU.   2023                    1637            0.004     2023
Italia   2023                     466            0.010     2023
Hungría  2023                     117            0.023     2023
México   2023                     196            0.012     2023
Croacia  2023                     228            0.082     2023
Turquía  2023                     755            0.017     2023
Austria  2023                     891            0.032     2023
Alemania 2023                    4105            0.014     2023

## Simple Pivots

In [154]:
# Creating is a dataframe with  the time.serie of gdp
ts_IncomepertouristEUR = d.pivot(index='Year',
                     columns = 'Country',
                      values = 'Income per tourist EUR')

print(ts_IncomepertouristEUR)

ValueError: ignored

# **7. Basic Line/Bar Graph**

In [155]:
# Line graph the 
fig = px.line(colombia, x = 'year_str', y='Income per tourist EUR')

# Change title 
fig.update_layout(title = 'International turism',
                  title_font_size = 30,
                  title_x = 0.5)

fig.update_xaxes(title = 'Dates', title_font_size = 20)
fig.update_yaxes(title = 'Income per tourist EUR', title_font_size = 20)


fig.show()

In [129]:
# Bar graph the 
fig = px.bar(colombia, x = 'year_str', y='Income per tourist EUR')

# Change title 
fig.update_layout(title = 'International turism',
                  title_font_size = 30,
                  title_x = 0.5, 
                  yaxis_range = [50,2000])

fig.update_xaxes(title = 'Dates', title_font_size = 20)
fig.update_yaxes(title = 'Income per tourist EUR', title_font_size = 20)


fig.show()

## Two y-axis

In [131]:
# Create a figure wwith the secondary axis
fig = make_subplots(specs = [[{"secondary_y": True}]])

#Add traces
fig.add_trace(
    go.Bar(x = colombia['year_str'], y = colombia['Income per tourist EUR'], name = 'Income per tourist EUR'),
    secondary_y = False 
)

fig.add_trace(
    go.Scatter(x = colombia['year_str'], y = colombia['Percentague PIB'], name = 'Percentague PIB'),
    secondary_y = True
)

fig.show()